html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: black;
}

h1 {
  font-weight: 900;
  font-size: 7em;
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar.inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-transparent {
  background-color: #000000;
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.splash {
  min-height: 40rem;
  height: 100%;
  width: 100%;
  padding: 0;
}

.splash .container {
  padding-top: 15rem;
  height: 100%;
}

.container {
  height: 100%;
}

#comp {
  margin-top: 100px;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.thicc {
  font-weight: 700;
}

ul {
  word-break: break-all;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: gray;
  height: 3px;
  -webkit-transition-property: left, right;
  -o-transition-property: left, right;
  -moz-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center-white {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 3px;
  -webkit-transition-property: left, right;
  -o-transition-property: left, right;
  -moz-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center-white:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}


@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
 }
  to {
      opacity: 1;
      transform: none;
 }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@media (max-height: 600px) {
  .splash .container {
      padding-top: 10rem;
 }
}

@media (max-height: 500px) {
  .splash .container {
      padding-top: 7rem;
 }
}

@media (max-height: 850px) {
  ol {
      word-break: break-all;
 }
}

@media (max-height: 850px) {
  h1 {
      font-size: 4.5em;
 }
}

@media (min-height: 900px) {
  .splash .container {
      padding-top: 15rem;
 }
}

@media (min-height: 1050px) {
  .splash .container {
      padding-top: 28rem;
 }
}

.hero__scroll {
  position: absolute;
  bottom: 60px;
  width: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
  padding-bottom: 40px;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

.hero__scroll .chevron {
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  color: rgb(0, 0, 0);
}

@-webkit-keyframes pulse {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
 }
  50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
 }
  100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
 }
}
@keyframes pulse {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
 }
  50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
 }
  100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
 }
}

.chevron::before {
  border-style: solid;
  border-width: 0.55em 0.55em 0 0;
  content: '';
  display: inline-block;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: top;
  width: 50px;
}

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
