html, body {
  height: 100%;
  width: 100%;
}

.navbar-trans {
  background: transparent; 
}

body {
  background: #366b49;
  margin: 0;
}

#particles-js canvas{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.white-block {
  background-color: white;
}

.shadow {
  -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.39);
}

.navbar-transparent {
  background-color: #3f458c;
}

.splash {
  min-height: 40rem;
  height: 100%;
  width: 100%;
  padding: 0;
}

.splash .container {
  padding-top: 10rem;
  height: 100%;
}

.container {
  height: 100%;
}

.thin {
  font-weight: 200;
}

#tsa {
  color: white;
  font-weight: 900;
  font-size: 7em;
}

h2 {
  padding-top: 60px;
  color: white;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.nav-item {
  color: white;
}

.navbar-brand {
  color: white;
}

.subheading {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

@media (max-height: 600px) {
  .splash .container {
    padding-top: 3rem;
  }
}

@media (max-height: 500px) {
  .splash .container {
    padding-top: 1rem;
  }
}

@media (max-height: 850px) {
  #tsa {
    font-size: 4.5em;
  }
}

@media (min-height: 800px) {
  .splash .container {
    padding-top: 13rem;
  }
}

@media (min-height: 900px) {
  .splash .container {
    padding-top: 15rem;
  }
}

@media (min-height: 1050px) {
  .splash .container {
    padding-top: 28rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated1 {
  animation-duration: 1.25s;
  animation-fill-mode: both;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}


@media (max-height: 600px) {
  .splash .container {
    padding-top: 3rem;
  }
}

@media (max-height: 500px) {
  .splash .container {
    padding-top: 1rem;
  }
}

@media (min-height: 800px) {
  .splash .container {
    padding-top: 13rem;
  }
}

@media (min-height: 900px) {
  .splash .container {
    padding-top: 16rem;
  }
}

@media (min-height: 1050px) {
  .splash .container {
    padding-top: 22rem;
  }
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar.inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.hero__scroll {
  position: absolute;
  bottom: 60px;
  width: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
  padding-bottom: 40px;
  left: 0;
  right: 0;
  text-transform: uppercase; 
}

.hero__scroll .chevron {
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    color: rgb(255, 255, 255); 
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } 
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); 
}
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); 
}
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } 
}


.chevron::before {
  border-style: solid;
  border-width: 0.55em 0.55em 0 0;
  content: '';
  display: inline-block;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 50px; }

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); 
}

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); 
}

.chevron.left:before {
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); 
}