html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #3f458c;
  font-family: 'Lato', sans-serif;
}

.navbar-transparent {
  background-color: #3f458c;
}

.splash {
  min-height: 40rem;
  height: 100%;
  width: 100%;
  padding: 0;
}

.splash .container {
  padding-top: 16rem;
  height: 100%;
}

.thin {
  font-weight: 200;
}

@media (max-height: 600px) {
  .splash .container {
    padding-top: 3rem;
  }
}

@media (max-height: 500px) {
  .splash .container {
    padding-top: 1rem;
  }
}

@media (min-height: 800px) {
  .splash .container {
    padding-top: 13rem;
  }
}

@media (min-height: 900px) {
  .splash .container {
    padding-top: 16rem;
  }
}

@media (min-height: 1050px) {
  .splash .container {
    padding-top: 28rem;
  }
}

#tsa {
  color: white;
  font-weight: 900;
  font-size: 7em;
}

#particles-js canvas{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated1 {
  animation-duration: 1.25s;
  animation-fill-mode: both;
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@media (max-height: 600px) {
  .splash .container {
    padding-top: 3rem;
  }
}

@media (max-height: 500px) {
  .splash .container {
    padding-top: 1rem;
  }
}

@media (min-height: 800px) {
  .splash .container {
    padding-top: 13rem;
  }
}

@media (min-height: 900px) {
  .splash .container {
    padding-top: 16rem;
  }
}

@media (min-height: 1050px) {
  .splash .container {
    padding-top: 22rem;
  }
}