html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #3f458c;
  font-family: 'Lato', sans-serif;
}

.white-block {
  background-color: white;
  -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.39);
}

.navbar-transparent {
  background-color: #3f458c;
}

.splash {
  min-height: 40rem;
  height: 100%;
  width: 100%;
  padding: 0;
}

.splash .container {
  padding-top: 10rem;
  height: 100%;
}

.container {
  height: 100%;
}

.thin {
  font-weight: 200;
}

@media (max-height: 600px) {
  .splash .container {
    padding-top: 3rem;
  }
}

@media (max-height: 500px) {
  .splash .container {
    padding-top: 1rem;
  }
}

@media (min-height: 800px) {
  .splash .container {
    padding-top: 13rem;
  }
}

@media (min-height: 900px) {
  .splash .container {
    padding-top: 15rem;
  }
}

@media (min-height: 1050px) {
  .splash .container {
    padding-top: 28rem;
  }
}

#tsa {
  color: white;
  font-weight: 900;
  font-size: 7em;
}

#particles-js canvas{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated1 {
  animation-duration: 1.25s;
  animation-fill-mode: both;
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@media (max-height: 600px) {
  .splash .container {
    padding-top: 3rem;
  }
}

@media (max-height: 500px) {
  .splash .container {
    padding-top: 1rem;
  }
}

@media (min-height: 800px) {
  .splash .container {
    padding-top: 13rem;
  }
}

@media (min-height: 900px) {
  .splash .container {
    padding-top: 16rem;
  }
}

@media (min-height: 1050px) {
  .splash .container {
    padding-top: 22rem;
  }
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
  margin-top: 10px;
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #C57ED3;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #C57ED3;
}
.navbar-default .navbar-toggle {
  border-color: #C57ED3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #490D40;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #C57ED3;
  background-color: #C57ED3;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #490D40;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #490D40;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  -webkit-box-shadow: 0 0 4px grey;
          box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: #C57ED3;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: #C57ED3;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

.about {
  background-color: #C57ED3;
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}
.about h2 {
  padding-top: 220px;
}
.about p {
  padding: 20px 80px;
}

.hero__scroll {
  position: absolute;
  bottom: 60px;
  width: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
  padding-bottom: 40px;
  left: 0;
  right: 0;
  text-transform: uppercase; }
  .hero__scroll .chevron {
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    color: rgb(255, 255, 255); }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }


.chevron::before {
  border-style: solid;
  border-width: 0.55em 0.55em 0 0;
  content: '';
  display: inline-block;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 50px; }

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.chevron.left:before {
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.timeline-container {
  overflow: hidden;
}
          